@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  cursor: pointer;
}
body {
  cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

h2 {
  line-height: 0;
  font-size: 9rem;
}

body {
  color: #fffdfd !important;
}
